<div class="container mx-auto py-8">
  <h1 class="text-3xl font-bold mb-4">Bem-vindo ao ChatGPT</h1>
  <p class="text-gray-600 mb-8">Aqui você pode conversar com outras pessoas em salas de chat. Comece criando uma nova sala abaixo ou escolha uma das salas existentes.</p>
  <%= turbo_stream_from "room" %>
  <%= turbo_frame_tag "room" do %>
  <div id="room">
    <%= render partial: 'rooms/form', locals: { room: Room.new } %>
  </div>
  <% end %>

  <% if current_room %>
  <div class="mt-12">
    <h2 class="text-xl font-bold my-6">Mensagens</h2>
    <div class="flex flex-col h-full">
      <div class="flex items-center justify-between bg-gray-600 text-white p-4 rounded-t-lg">
        <h1 class="text-2xl font-bold"><%= current_room.title %></h1>
        <p class="text-gray-400"><%= current_room.user.name %> criou a sala</p>
      </div>
      <div class="flex-grow overflow-y-auto p-4 bg-gray-200 rounded-b-lg">
        <%= turbo_stream_from "messages" %>
        <%= turbo_frame_tag "messages_#{current_room.id}" do %>
          <%= render current_room.messages %>
        <% end %>
      </div>
      <%= turbo_stream_from "message" %>
      <%= turbo_frame_tag "message_#{current_room.id}" do %>
        <%= render 'messages/form', message: current_room.messages.new, room_id: params[:room_id] %>
      <% end %>
    </div>

  </div>
  <% end %>

  <hr />

  <h2 class="text-xl font-bold my-6">Salas de Chat</h2>
  <%= turbo_stream_from "rooms" %>
  <%= turbo_frame_tag "rooms" do %>
    <div class="grid grid-cols-3 gap-6 align-top" id="collection_rooms">
      <%= render @rooms %>
    </div>
  <% end %>
</div>
