<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render 'devise/shared/error_messages', resource: resource %>
      <div class="mb-4">
        <%= f.label :email, class: "block text-gray-700 font-bold mb-2" %>
        <%= f.email_field :email, autocomplete: "email", autofocus: true, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-6">
        <%= f.label :password, class: "block text-gray-700 font-bold mb-2" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="flex items-center justify-between">
        <%= f.submit "Entrar", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
